<!DOCTYPE html>
<html>
  <head>
    <title>Webpack on Rails</title>
    <%= csrf_meta_tags %>
    <%= webpack_bundle_tag 'styles'%>
  </head>

  <body>
    <div id="app"></div>

    <%= webpack_bundle_tag 'scripts' %>
  </body>
</html>
